{% extends "templates/indexoficiais.html" %}
{% load static %}


{% block main %}

<h1>Documentos</h1>

<p class="lead">Clique no documento para ter acesso!</p>

<hr>
{% if is_member_of_rh and is_member_of_altocomando %}

<div class="d-flex justify-content-end">
    <a class="btn btn-dark btn-sm m-1" title="Criar Documento" href="{% url 'cadastrardocumento' %}">Criar Documento</a>
    </div>
    <br>
    {% endif %}
{% for documento in documentos %}
<div class="card col-xl-12 m-auto">
    <div class="container m-2">
        <div class="row">
            <i class='bx bx-home-alt icon'>
                <img width="50px" src="{% static "img/documentoicon.png" %}" alt="">
                <span class="h5 card-title">{{ documento.titulo }}</span>
                
            </i>
            <div class="m-2 text-right">
                <a class="btn btn-dark" href="{% url 'detalhesdocumentos' documento.pk %}">Exibir Documento</a>
                {% if is_member_of_rh and is_member_of_altocomando %}
                <a class="btn btn-dark" href="{% url 'atualizardocumento' documento.pk %}">Editar Documento</a>
                <a class="btn btn-dark" href="{% url 'deletardocumento' documento.pk %}">Deletar Documento</a>
            {% endif %}
            
            
            
            </div>
        </div>
    </div>
</div>



<br>
{% empty %}
<li>Nenhum documento encontrado.</li>
{% endfor %}
{% endblock main %}