{% extends "templates/index.html" %}
{% load static %}
{% block main %}

<h1>Uniformes</h1>

<p class="lead">"Protegendo nossas riquezas, cuidando da nossa gente" 🎖️</p>             
  
<hr>
<br>
<h3 class='text-center'> Grumete </h3>
<div class="card mb-3 m-auto col-md-6 col-10">
    <div class="row g-0">
      <div class="text-center m-auto col-md-4">
        <img src="{% static "uniformes/grumete.png" %}" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
    <br>
  </div>

  <br>
<h3 class='text-center'> Praça </h3>
<div class="card mb-3 m-auto col-md-6 col-10">
    <div class="row g-0">
      <div class="text-center m-auto col-md-4">
        <img src="{% static "uniformes/convencional.png" %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="text-center m-auto col-md-4">
        <img src="{% static "uniformes/fuzileiro.png" %}" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
    <br>
  </div>

  <h3 class='text-center'> Aluno da AGS </h3>
  <div class="card mb-3 m-auto col-md-6 col-10">
      <div class="row g-0">
        <div class="text-center m-auto col-md-4">
          <img src="{% static "uniformes/agsconvencional.png" %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="text-center m-auto col-md-4">
          <img src="{% static "uniformes/agsfuzileiro.png" %}" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
      <br>
      <h3 class='text-center'> Aluno do Colégio Naval </h3>
      <div class="card mb-3 m-auto col-md-6 col-10">
          <div class="row g-0">
            <div class="text-center m-auto col-md-4">
              <img src="{% static "uniformes/cn.png" %}" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
          <br>
        </div>
        <br>
      <h3 class='text-center'> Aspirante </h3>
      <div class="card mb-3 m-auto col-md-6 col-10">
          <div class="row g-0">
            <div class="text-center m-auto col-md-4">
              <img src="{% static "uniformes/en.png" %}" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
          <br>
        </div>
        <h3 class='text-center'> Oficial Subalterno </h3>
        <div class="card mb-3 m-auto col-md-6 col-10">
            <div class="row g-0">
              <div class="text-center m-auto col-md-4">
                <img src="{% static "uniformes/ofcconvencional.png" %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="text-center m-auto col-md-4">
                <img src="{% static "uniformes/ofcfuzileiro.png" %}" class="img-fluid rounded-start" alt="...">
              </div>
            </div>
            <br>
          </div>
          <h3 class='text-center'> Oficial Intermediário </h3>
        <div class="card mb-3 m-auto col-md-6 col-10">
            <div class="row g-0">
              <div class="text-center m-auto col-md-4">
                <img src="{% static "uniformes/ofcinterconvencional.png" %}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="text-center m-auto col-md-4">
                <img src="{% static "uniformes/ofcinterfuzileiro.png" %}" class="img-fluid rounded-start" alt="...">
              </div>
            </div>
            <br>
          </div>
          <h3 class='text-center'> Alto-Comando </h3>
        <div class="card mb-3 m-auto col-md-6 col-10">
            <div class="row g-0">
              <div class="text-center m-auto col-md-4">
                <img src="{% static "uniformes/altocomando.png" %}" class="img-fluid rounded-start" alt="...">
              </div>
            </div>
            <br>
          </div>
          <br>
{% endblock main %}